:root {
    --td-size: 100px;
    --color-primary: rgb(9, 9, 59);
    --color-bg: rgba(26, 26, 89, 0.9);
    --color-secondary: rgb(26, 26, 89);
    --color-light: rgb(252, 246, 184);
    --color-light2: rgb(255, 146, 208);
    --color-light3: rgb(158, 248, 85);
    --color-hover: rgba(26, 26, 89, 0.1);
    --container-width: 61.8%;
    --navbar-height: 50px;
    --footer-height: 40px;
}

body {
    /* font-family: 'Codystar', cursive; */
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 18px;
    margin: 0;
}

.d-none {
    display: none !important;
}

.start-screen {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background-image {
    background-image: url(img/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 50% 36%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    background-color: var(--color-primary);
    border-bottom: 3px solid var(--color-light);
    display: flex;
    align-items: center;
}

.navbar-text-start {
    z-index: 1;
    font-size: 3em;
    width: 100%;
    text-align: center;
    margin-top: 250px;
}

.input-field {
    border-radius: 5px;
    border: none;
    height: 24px;
    font-family: inherit;
    padding: 5px;
    margin-top: 8px;
}

.play-btn {
    color: var(--color-light);
    font-size: 24px;
    font-family: inherit;
    background-color: var(--color-secondary);
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.play-btn:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    box-shadow: 0 0 5px var(--color-light);
}

form {
    height: 50%;
    min-width: calc(var(--container-width)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.go-on-without-names:hover {
    cursor: pointer;
    text-shadow: 0 0 2px var(--color-light);
}

.logo {
    font-family: 'Codystar', cursive;
    font-size: 2em;
    font-weight: bold;
    margin-left: 8px;
}

.light1 {
    color: var(--color-light);
    text-shadow: 0 0 15px var(--color-light);
}

.light2 {
    color: var(--color-light2);
    text-shadow: 0 0 15px var(--color-light2);
}

.light3 {
    color: var(--color-light3);
    text-shadow: 0 0 15px var(--color-light3);
}

.no-shadow {
    text-shadow: unset !important;
    color: grey;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: var(--container-width);
    margin-left: calc((100% - var(--container-width))/2);
    height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-panel {
    display: flex;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin: 32px;
}

.player-panel img {
    height: 60px;
    margin-right: 8px;
}

.player-inactive {
    opacity: 0.3;
}

table {
    border-collapse: collapse;
}

td {
    height: var(--td-size);
    width: var(--td-size);
    border: 3px dotted white;
    padding: 0;
}

.table-div {
    position: relative;
}

.line {
    background-color: var(--color-light);
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-light);
}

.horizontal {
    height: 10px;
    width: calc(var(--td-size)*3.5);
    top: 15%;
    left: -5.5%;
    transform: scaleX(0);
    transition: transform 225ms ease-in-out;
}

.vertical {
    height: calc(var(--td-size)*3.5);
    width: 10px;
    top: -5.5%;
    left: 14.6%;
    transform: scaleY(0);
    transition: transform 225ms ease-in-out;
}

.diagonal {
    height: 10px;
    width: calc(var(--td-size)*4.8);
    top: 48.1%;
    left: -28.8%;
    transition: transform 225ms ease-in-out;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

tr td:first-child {
    border-left: 0;
}

tr td:last-child {
    border-right: 0;
}

.shape-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape-box:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    z-index: 1;
}

.shape {
    position: absolute;
    height: 80%;
}

.game-instructions {
    position: absolute;
    top: calc(var(--navbar-height) + 3px);
    height: calc(100% - var(--navbar-height) - var(--footer-height));
    width: 100%;
    background-color: var(--color-primary);
}

.game-instructions-content {
    padding: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height);
    background-color: var(--color-primary);
    border-top: 3px solid var(--color-light);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
}

.footer a {
    margin-left: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer a:last-child {
    margin-right: 16px;
}

.footer a:hover {
    text-shadow: 0 0 2px var(--color-light);
}

.game-over {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: 3;
    object-position: 50% 100%;
    animation: zoomIn 500ms ease-in-out;
}

.restart-btn {
    z-index: 3;
    color: var(--color-light);
    font-size: 32px;
    font-family: inherit;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-light);
    border-radius: 5px;
    padding: 8px 16px;
    position: absolute;
    top: 20%;
    animation: zoomIn 500ms ease-in-out;
}

.restart-btn:hover {
    background-color: var(--color-primary);
    cursor: pointer;
    box-shadow: 0 0 8px var(--color-light);
}

.winner-box {
    width: 200px;
    min-height: 100px;
    color: white;
    position: absolute;
    top: 74%;
    z-index: 3;
    font-size: 24px;
    text-align: center;
    animation: zoomIn 500ms ease-in-out;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsive Design */

@media(max-width: 1200px) {
    .restart-btn {
        top: 30%;
    }
    .winner-box {
        top: 80%;
    }
    .navbar-text-start {
        font-size: 2em;
    }
}

/* iPad & iPad Pro */

@media (min-width: 768px) and (max-width: 1024px) and (min-height: 1024px) {
    body {
        font-size: 36px;
    }
    :root {
        --td-size: 180px;
        --navbar-height: 120px;
        --footer-height: 80px;
        --container-width: 80%;
    }
    .navbar-text-start {
        margin-top: 400px;
    }
    form {
        height: 40%;
        margin-bottom: 30%;
    }
    .play-btn {
        margin-top: 56px;
        margin-bottom: 40px;
    }
    .input-field {
        height: 32px;
    }
    .player-panel {
        margin-bottom: 40px;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
        font-size: 24px;
    }
    .footer a {
        margin: unset;
    }
    .footer a:last-child {
        margin-right: unset;
    }
    .restart-btn, .winner-box {
        font-size: 40px;
    }
}

@media(max-width: 650px) {
    :root {
        --container-width: 80%;
    }
    .background-image {
        background-position: 0% 36%;
    }
}

@media(max-width: 500px) {
    :root {
        --container-width: 90%;
        --footer-height: 80px;
        --td-size: 85px;
    }
    .container {
        justify-content: flex-start;
    }
    .turn {
        margin-top: 90px;
        font-size: 24px;
    }
    .player-panel {
        font-size: 16px;
    }
    .player-panel img {
        height: 40px;
    }
    form {
        margin-bottom: 20%;
    }
    .navbar-text-start {
        font-size: 1.5em;
    }
    .footer {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media(max-width: 400px) {
    :root {
        --container-width: 100%;
    }
    .player-panel div {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }
    .player-panel img {
        margin-right: unset;
        margin-bottom: 8px;
    }
}

@media(max-width: 350px) {
    :root {
        --td-size: 75px;
    }
    .restart-btn {
        font-size: 24px;
    }
}